<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">About</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio ad atque
        ipsam nisi perspiciatis a, repellendus omnis enim eveniet animi iure,
        expedita dignissimos cupiditate voluptatum nesciunt id ipsum quos natus.
      </p>
      <address>
        <h2 class="footer__title">
          <ul>
            <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
            <li><i class="fa-solid fa-phone"></i> (99) 99999-9999</li>
            <li><i class="fa-brands fa-whatsapp"></i> (99) 99999-9999</li>
          </ul>
        </h2>
      </address>
    </section>
  </div>
  <section class="footer__copyright">&copy; All rights reserved</section>
</footer>
